<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--LINKED CSS -->
    <link type="text/css" href="styles/stylesheet.css" rel="stylesheet" />
    <title>Bloggy | For Funsies</title>
    <link rel="icon" href="../public/images/Bloggy_Icon.png" >
</head>
<body>
    <!------- HEADER------>
    <%- include("././partials/header.ejs") %> 
    <section class="newpost" id="newpost-form">
        <h1>New Post:</h1>
        <!--FORM-->
        <form action="/allposts" method="POST" id="np-form">
            <span class="close" id="close-form">X</span>
            <input type="hidden" name="postId" />
            <label>Title</label>
            <input type="text" name="title" placeholder="Title..." required class="np-title-input"/>
            <label>Author:</label>
            <input type="text" name="author" placeholder="Author's Name" required/>
            <textarea id="newp-body" name="content" placeholder="Write your post here..." required></textarea>
            <input type="submit" value="Publish" id="np-submit"/>
        </form>
        <!-- <span id="overlay" class="form-overlay"></span> -->

    </section>
    <span id="overlay" class="form-overlay"></span>
    <!--POSTS FEED-->
    <section class="posts">
              <% if (locals.allPosts) { %>
                <!--LOOP THRU AND DISPLAY ALL POSTS-->
                  <% for (let i = 0; i < allPosts.length; i++) { %>
                <div class="post" id=<% i %> >
                      <!-- <p>Post Index: <%= i %></p> -->
                      <!-- <p>Post ID: <%= allPosts[i].postId %></p> -->
                      <h2><%= allPosts[i].title %></h2>
                      <p class="author">By: <%= allPosts[i].author %></p>
                      <p width="200px" class="content"><%= allPosts[i].content %></p>
                      <div class="btns">
                        <!--EDIT BUTTON-->
                        <a class="edit-btn" href="/edit/<%= allPosts[i].postId %>">edit</a>
                        <!--DELETE BUTTON-->
                        <form class="delete-form" action="/delete/<%= allPosts[i].postId %>?_method=DELETE" method="POST">
                            <input type="submit" value="delete" class="delete-btn"/>
                        </form>
                    </div>
                </div>
                  <% } %>
              <% } %>  
    </section>
    <%- include("././partials/footer.ejs") %> 
   <script src="/app.js" ></script>
</body>
</html>