<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggy | For Funsies</title>
    <link type="text/css" href="/styles/stylesheet.css" rel="stylesheet" />
    <link rel="icon" href="../images/Bloggy_Icon.png" >

</head>
<body>
     <!----------HEADER---------->
     <%- include("././partials/header.ejs") %> 
     
     <div class="rm-article">
         <h2 class="lg-title"><%= postView?.title %></h2>
         <p class="author">By: <%= postView?.author %></p>
         <p class="content"><%= postView?.content %></p>
       
         <div>
            <a href="../" class="back-btn">Go Back</a>
         </div>
     </div>
 
     
      <!--------FOOTER---------->
    <%- include("././partials/footer.ejs") %> 
    <script src="/app.js" ></script>
</body>
</html>